{% extends 'base.html' %}

{% block header %}
{% block title %}User Registration{% endblock %}
{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if fail %}
        <div>
        <span class="error">Username does not exist</span>
        </div>
    {% endif %}
    <form action="/user/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <div class="button">
        <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}
