{% extends 'base.html' %}

{% block title %}Join Room{% endblock %}
{% block noscript %}
        <noscript>
        <meta id="refresh" http-equiv="refresh" content="5">
        </noscript>
{% endblock %}
{% block content %}
<h1>Please Stand By</h1>
  <h2>Waiting for players to join</h2>
        <div class="information">
          <table>
            <tr>

              <td>{{ room }}</td>
                <td>{{ round }}</td>
                <td id="timeleft">{{ timeleft }}</td>
                <td id="numplayers">{{users|length}}</td>
            </tr>
            <tr>
                <th>Room</th>
               <th>Past Rounds</th>
                <th>Sec. Remaning</th>
                <th><div class="tooltip">Num of Players
                        <span class="tooltiptext"> <div>
         <h3>Player List:</h3>
            <ul id="playerlist">
         {% for i in users %}

            <li>{{ i }}</li>

        {% endfor %}
            </ul>
        </div> </span>
                 </div> </th>
            </tr>
          </table> 
        </div>
        <script>
              let time = {{ timeleft }};
              let players = {{ users|safe }}
                setInterval(function () {
                    time--;
                    if(time<=0){
                       fetch('/room/{{ room }}/status', {method: 'GET'}).then((response) => {response.json().then((jsonResponse) => {
                        if(jsonResponse.status!=0  && jsonResponse.status!=3){
                            window.location.reload();
                        }
                        time = jsonResponse.time;
                        players = JSON.parse(jsonResponse.users);
                        console.log(typeof players);
                        document.getElementById("numplayers").innerText =  players.length;
                        document.getElementById('playerlist').innerHTML = players.map((user) => {
                                return `<li>${ user }</li>`;
                        }).join('');
                    }); });
                    }
                    document.getElementById("timeleft").innerText = time;

                }, 1000);
                setInterval(function () {
                   fetch('/room/{{ room }}/status', {method: 'GET'}).then((response) => {response.json().then((jsonResponse) => {
                        if(jsonResponse.status!=0  && jsonResponse.status!=3){
                            window.location.reload();
                        }
                        time = jsonResponse.time;
                        players = JSON.parse(jsonResponse.users);
                        console.log(typeof players);
                        document.getElementById("numplayers").innerText =  players.length;
                        document.getElementById('playerlist').innerHTML = players.map((user) => {
                                return `<li>${ user }</li>`;
                        }).join('');
                    }); });
                }, 10000);
         </script>
{% endblock %}