<!DOCTYPE html>
<html>
    <head>
        <title>GREAT RIT PRINTER RACE</title>
    </head>
    <body>
        <div id="Information" style="text-align: left">
         <h3>Round Info</h3>
          <table>
            <tr>
              <th>Room</th>
              <td>1</td>
            </tr>
            <tr>
               <th>Round</th>
               <td>1</td>
            </tr>
            <tr>
               <th>Time Remaning</th>
               <td>40 seconds</td>
            </tr>
            <tr>
               <th>Num of Players</th>
               <td>22</td>
            </tr>
          </table> 
        </div>   
        <div id="playerlist">
         <h3>Player List</h3>
         <ul>
           <li>Coffee</li>
           <li>Tea</li>
           <li>Milk</li>
         </ul> 
        </div>
        <div id="codeform" style="display:inline-block">
            <form method="post" target="_self" action="/room/1/challenge"> <!-- chnage in templete -->
            <label for="code">Enter Code from Paper:</label><br>
            <input type="text" id="code" name="code"><br>
            <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
