<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %} - Great RIT Printer Race</title>
    {% block noscript %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="top">
    <div class="viewbox">
    <img src="{{ url_for('static', filename='iconforserver2.png') }}">
        </div>
<div class="header">
    <a id="main" href="/"><h1>
        Great RIT Printer Race
    </h1>
    </a>
    <h2>
      <a href="/room/list">Rooms</a>
      <a href="/user/logout">Logout</a>
    </h2>
</div>
    <div class="userinfo">{% if user %}<h3 style="font-weight:normal;">{{ user.name }} ({{ user.points }} Points)</h3>{% endif %}</div>
</div>
<div class="maincontent">
    {% block content %}{% endblock %}
</div>
</body>