{% extends 'base.html' %}

{% block header %}
{% block title %}Home{% endblock %}
{% endblock %}

{% block content %}
<div class="indexbuttons">
        <h1>Printing Awaits!</h1>
        <p id="info"> The great printer games are here. RIT has an extensive network of printer that is being used less and less. A couple years ago, the COS even took out their printers. No longer will these printers be set idle waiting for students to print out their assignments. Now you can participate in a fun and exciting game where you compete to run to a unspecified printer the fastest. Welcome to the great RIT* printer games</p>
        <a id="afakebutton" class="fakebutton" href="/user/register">Register</a>
        <a href="/user/login">Login</a>
</div>
{% endblock %}
